:root {
    --light-gray: rgb(220, 220, 220);
    --white: rgb(255, 255, 255);
    --gray: rgb(141, 141, 141);
    --background-color: rgb(249, 248, 246);
}

/* GLOBAL */

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/***************************************************
  OUTER CONTAINER STUFF
****************************************************/

.controls {
    position: relative;
    width: 100%;
    flex-direction: column;
}

.menu {
    width: 100%;
    height: 30vh;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    /* border-radius: 15px; */
}

.upperControls{
     width: 100%;
     height: 5vh;
     margin-top: 2vh;
    
}

.lowerControls{
    width: 100%;
    height: 19vh;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    gap: 4vh;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
 
}

.lowerControls::-webkit-scrollbar{
    display: none;
}

/***************************************************
  TOGGLE BUTTON (unchanged)
****************************************************/

#toggleMenu {
    position: absolute;
    width: 85px;
    height: 13%;
    right: 50%;
    background-color: var(--light-gray);
    z-index: 1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
