body{
    background-color: rgb(249, 248, 246);
}

.controls{
    position: relative;
    width:100%;
    /*margin-left: -8px;*/
}

.menu{
    width: 100%;
    height: 25vh;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    gap: 4vh;
    justify-content:flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 15px;
}

.StudyNotes{
   width: 42vh;
   height: 20vh;
   background-color: rgb(255, 255, 255);
   margin-left: 1.5vh;
   margin-right: 1.5vh;
   flex-shrink: 0;
   border-radius: 15px;
   transition: 0.25s ease-in;
   box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
  
}

.StudyNotes:hover{
    box-shadow: 0px 6px 12px rgba(67, 248, 188, 0.55);
}

#toggleMenu{
    position: absolute;
    width: 85px;
    height: 13%;
    right:50%;
    background-color: rgb(220, 220, 220);
    z-index: 1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
}