:root{
     font-family: "DynaPuff", system-ui;
  
}

body{
    background-color: rgb(255, 255, 255);
}

.controls{
    position: relative;
    width:100%;
    height:25vh;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    border: 2px solid black;
    /*margin-left: -8px;*/
}

.StudyTools{
    width: 100%;
    height: 25vh;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    gap: 0.5vh;
    justify-content:center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 15px;
    cursor: pointer;
}

#toggleStudyTools{
    position: absolute;
    width: 105px;
    height: 13%;
    right:38.5%;
    background-color:  rgb(220, 220, 220);
    z-index: 1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.1vh;
    cursor: pointer;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: none;
}

#StudyToolsDropdown{
    font-size: 14px;
    margin-left: 0.1vh;
}

#PencilIcon{
    height: 23px;
    width: 23px;
}

.tools{
   position: relative;
   width: 32.5%;
   height: 95%;
   background-color: rgb(255, 255, 255);
   border-right: 0.1px solid rgb(136, 136, 136);
   display: flex;
   border-radius: 18px;
   flex-direction: column;
   gap:0.7vh;
   overflow-y: auto;
   overflow-x: hidden;
   /* margin-left: 1vh; */
}

.tool{
    width:90%;   /*95%*/
    height:11.5%;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
   
}

.ToolName{
    width: 70%;
    height: 100%;
    
    /* background-color:blueviolet; */

}

.ToolQuickAction{
    width: 30%;
    height: 100%;
    /* background-color: brown; */
}

.threeSlider {
    position: relative;
    width: 20vh;
    height: 3vh;
    background: #eee;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vh;
    margin-left: -40px;
}

.option {
    width: 33%;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    font-size: 12px;
}

.thumb {
    position: absolute;
    width: 33%;
    height: 100%;
    background: white;
    border-radius: 999px;
    left: 0;
    transition: 0.2s;
}

.numberControl{
   display: flex;
   flex-direction: row;
   gap: 2px;
}

#increase, #decrease{
    border: none;
    /*background-color: rgb(255, 255, 255);*/
    font-size: 20px;
}

#numInput{
    height: 20px;
    
}