body{
    background-color: rgb(182, 182, 182);
}

.controls{
    position: relative;
    width:100%;
    /*margin-left: -8px;*/
}

.StudyTools{
    width: 100%;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: 1vh;
    justify-content:flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 15px;
}

#toggleStudyTools{
    position: absolute;
    width: 85px;
    height: 13%;
    right:38.5%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.tools{
   position: relative;
   width: 90%;
   height: 95%;
   background-color: rgb(255, 255, 255);
   border-right: 0.1px solid rgb(136, 136, 136);
   display: flex;
   flex-direction: column;
   gap:0.7vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.tool{
    width:90%;   /*95%*/
    height:11.5%;
    background-color: rgb(255, 255, 255);
    /* font-family: "Inter", sans-serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
   
}

.ToolName{
    width: 70%;
    height: 100%;
    
    /* background-color:blueviolet; */

}

.ToolQuickAction{
    width: 30%;
    height: 100%;
    /* background-color: brown; */
}

