

/**********************************************************************************/
/***************************** ADD CONTAINER.  ************************************/
/**********************************************************************************/
h4{
    margin: 0;
    padding: 0;
}

#createNoteContainer{
    width:420px;
    height:200px; 
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap:0.4vh;
    border-radius: 1rem;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.12);
    border: 1px solid #e5e5e5;
    font-family: 'Inter', Arial, sans-serif;
    transition: 0.25s ease;
}

#createNoteContainer:has(#createButton:hover){
    border: 4px solid rgb(67, 248, 188);;
    border-color: rgb(67, 248, 188);
    box-shadow: 0 0 18px rgba(67, 248, 188, 0.6);
}



#titleBox{
    width: 100%;
    height: 20%;
}

#lowerRow{
    width: 100%;
    height: 26%;
}

#descriptionBox{
    width: 100%;
    height: 50%;

}
/************* TITLE **********************/
#titleBox{
    display: flex;
    flex-direction: column;
}

#noteTitle{
    width:90%;
    height:50%;
    margin-left: 8px;
    
}

#titleInput{
    width:90%;
    height:50%;
    
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 7.5px;

    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.25s ease;
    border: 1px solid rgb(230, 230, 230);
}

#titleInput:hover,
#titleInput:focus-within {
    box-shadow: 0 4px 12px rgba(67, 248, 188, 0.5);
    border-color: rgb(67, 248, 188);
}

/************** DESCRIPTION ***************/

#descriptionBox{
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
}

#noteDescriptionTitle{
    width:90%;
    height:20%;
    margin-left: 8px;
}

#DescriptionInput{
    width:90%;
    height:70%;

    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    margin-left: 7.5px;

    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.25s ease;
    border: 1px solid rgb(230, 230, 230);
}

#DescriptionInput:hover,
#DescriptionInput:focus-within {
    box-shadow: 0 4px 12px rgba(67, 248, 188, 0.5);
    border-color: rgb(67, 248, 188);
}

/*****************LOWER ROW***************/

#lowerRow{
  display: flex;
  flex-direction: row;
  gap:1vh;
 }
/******************************DIFFICULTY ************************/
#difficultyContainer{
    width:25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3px;
}

#difficultytitle{
    width:100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

#difficulty{
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#numInput {
    width: 26.2%;
    height: 2.4vh;

    border: 1px solid rgb(230, 230, 230);
    border-radius: 6px;
    background-color: #fafafa;
    text-align: center;

    transition: 0.25s ease;
}

#numInput:hover,
#numINput:focus {
    box-shadow: 0 4px 12px rgba(67, 248, 188, 0.5);
    border-color: rgb(67, 248, 188);
    outline:none;
}

/* Chrome / Edge / Safari */
#numInput::-webkit-outer-spin-button,
#numInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#numInput {
    -moz-appearance: textfield;
}

.numBtn{
    width:35.2%;
    height:3.2vh;
    border: none;
    border-radius: 4px;
}

.numBtn:hover {
    background: #dcdcdc;
}

/******************************Tags ************************/
#tagsblock{
    width:75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2px;
}
 #tagTitle{
    width: 100%;
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
 }

#tags{
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}

.createNotetag{
    width: calc(100% / 3);
    height: 90%;
   }

.tagInput{
    width: 92%;
    height: 75%;
    background-color: #fafafa;
    border: 1px solid rgb(230, 230, 230); 
    border-radius: 8px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: 0.25s ease;
}
.tagInput:hover,
.tagInput:focus{
    box-shadow: 0 4px 12px rgba(67, 248, 188, 0.5);
    border-color: rgb(67, 248, 188);
    outline:none;
}


/*************** Create button **************/
#createNote{
   width:25%;
   height:15%;
   position:absolute;
   z-index: 2;
   right:40%;
   bottom: -13%;
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#createButton{
    width:100%;
    height:90%;
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f4f4f4;;
    transition: 0.25s ease;
}

#createButton:hover{
  background-color:  rgb(67, 248, 188);
}

