<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/App/Frontend/userNotes/components/NoteCardStyle.css">
    <title>Document</title>
</head>
<body>
      <div class="StudyNotes">
                <div class="row">
                    <div class="LatestUpdate">
                        <h2>Latest Update:</h2>
                        <h2 id="recntUpdate">1 day ago</h2>
                    </div>
                    <div class="Tags">
                        <div class="tag">
                            <h5 class="tagData">NoteTag1</h5>
                        </div>
                        <div class="tag">
                            <h5>NoteTag2</h5>
                        </div>
                        <div class="tag">
                            <h5>NoteTag3</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="Title">
                        <h1>Note Titleeeeeeeeeeeeeee</h1>
                    </div>
                    <div class="Version">
                        <h2>( v.1.0 )</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="Description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur beatae eius, nihil hello</p>
                    </div>
                    <div class="Difficulty">
                        <div class="upper">Difficulty</div>
                        <div class="lower">2 / 5</div>
                    </div>
                    <div class="Streak">
                        <div class="upper">Streak</div>
                        <div class="lower">6</div>
                    </div>
                </div>
            </div> <!-- .StudyNotes -->
</body>
</html>