
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/App/Frontend/userNotes/components/Organise.css">
    <title>Document</title>
</head>
<body>
     <div id="organiseContainer">

         <!-- DATE -->
         <div id="sortByDate">
           <div class="title">
              <h2>Date</h2>
           </div>
           <div id="DateOrder">
               <img src="/App/Frontend/userNotes/components/svgs/up_INACTIVE.svg" id="DateOrder-UpIcon">
               <img src="/App/Frontend/userNotes/components/svgs/down_INACTIVE.svg" id="DateOrder-DownIcon">
           </div>
         </div>

         <!-- SIZE -->
         <div id="sortBySize">
           <div class="title">
             <h2>Size</h2>
           </div>
           <div id="SizeOrder">
             <img src="/App/Frontend/userNotes/components/svgs/up_INACTIVE.svg" id="SizeOrder-UpIcon">
             <img src="/App/Frontend/userNotes/components/svgs/down_INACTIVE.svg" id="SizeOrder-DownIcon">
           </div>
         </div>

         <!-- DIFFICULTY -->
         <div id="sortByDifficulty">
           <div class="title">
             <h2>Difficulty</h2>
           </div>
           <div id="DifficultyOrder">
               <img src="/App/Frontend/userNotes/components/svgs/up_INACTIVE.svg" id="DifficultyOrder-UpIcon">
               <img src="/App/Frontend/userNotes/components/svgs/down_INACTIVE.svg" id="DifficultyOrder-DownIcon">
           </div>
         </div>

         <!-- STREAK -->
         <div id="sortByStreak">
           <div class="title">
             <h2>Streak</h2>
           </div>
           <div id="StreakOrder">
              <img src="/App/Frontend/userNotes/components/svgs/up_INACTIVE.svg" id="StreakOrder-UpIcon">
              <img src="/App/Frontend/userNotes/components/svgs/down_INACTIVE.svg" id="StreakOrder-DownIcon">
           </div>
         </div>

     </div>
     
</body>
</html>
