<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/Frontend/userNotes/components/upperContainerStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="upperControls">
        <div class="goBack">
            <div class="returnButton">
                <div class="returnButtonContainer">
                        <img src="/App/Frontend/userNotes/components/svgs/ReturnArrow.svg" id="ReturnArrow" >
                </div>
            </div>
        </div>

        <div class="searchBox">
            <div class="search-container">
                <div class="search-icon">
                    <img src="/App/Frontend/userNotes/components/svgs/magnifying.svg" id="mg-glass" />
                </div>
                <input type="text" class="search-input" placeholder="Search notes..." />
            </div>
        </div>

        <div class="add">
            <div class="addButton">
                <div class="addContainer">
                     <img src="/App/Frontend/userNotes/components/svgs/AddNote.svg" id = "Add">
                </div>
            </div>
        </div>

        <div class="organise">
            <div class="organiseButton">
                <div class="sortContainer">
                     <img src="/App/Frontend/userNotes/components/svgs/Sort.svg" id = "Sort">
                </div>
            </div>
        </div>
    </div>
   
</body>

</html>
