<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/Frontend/userNotes/components/upperContainerStyle.css">
    <title>Document</title>
</head>

<body>
    <div id="upperControls">

        <div id="goBack">
            <div id="returnButton">
                <div id="returnButtonContainer">
                    <img src="/App/Frontend/userNotes/components/svgs/ReturnArrow.svg" id="ReturnArrow">
                </div>
            </div>
        </div>

        <div id="searchBox">
            <div id="searchContainer">
                <div id="searchIcon">
                    <img src="/App/Frontend/userNotes/components/svgs/magnifying.svg" id="mgGlass" />
                </div>
                <input type="text" id="searchInput" placeholder="Search notes..." />
            </div>
        </div>

        <div id="add">
            <div id="addButton">
                <div id="addContainer">
                    <img src="/App/Frontend/userNotes/components/svgs/AddNote.svg" id="Add">
                </div>
            </div>
        </div>

        <div id="pop"></div>

        <div id="organise">
            <div id="organiseButton">
                <div id="sortContainer">
                    <img src="/App/Frontend/userNotes/components/svgs/Sort.svg" id="Sort">
                </div>
            </div>
        </div>

    </div>
</body>

</html>
